body {
    overflow: hidden;
}

.principal-title {
    color: #fff;
    background-color: transparent;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.success {
    border-color: #2ecc71 !important;
    background-color: #f6fff9;
}

.error {
    border-color: #fd5d93 !important;
    background-color: #fff4f7
}

.nombres p {
    text-transform: lowercase;
}

.nombres p:first-letter {
    text-transform: uppercase;
}


/* alert al registrar/eliminar */

.alert {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    transition: opacity .3s;
}

.alert-content {
    width: 100vw;
    position: fixed;
    top: 2%;
}

.transparente {
    opacity: 0;
}


/*Badge*/

.bg-amarillo {
    background-color: rgb(255, 226, 145);
    color: rgb(37, 37, 37)
}

.bg-naranja {
    background-color: rgb(255, 171, 123);
    color: rgb(37, 37, 37)
}

.bg-rojo {
    background-color: rgb(255, 169, 169);
    color: rgb(37, 37, 37)
}

.bg-azul {
    background-color: rgb(163, 226, 255);
    color: rgb(37, 37, 37);
}

.bg-verde {
    background-color: rgb(191, 255, 191);
    color: rgb(37, 37, 37)
}

.link {
    color: rgb(128, 168, 255) !important;
    text-decoration: underline !important;
}

.link:hover {
    cursor: pointer;
}

.tabela {
    max-width: 95vw;
    max-height: 90vh;
    overflow: auto;
}